.benefits-section {
  position: relative;
  background: url("../images/decor/design_leaf.png") left top 57% no-repeat;

  @include tablets {
    background-position: left -2% top 2%;
  }

  @include phones {
    background: none;
  }

  /*&:before {
    content: url("../images/decor/cereal-bar.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include tablets {
      content: url("../images/decor/cereal-bar.png");
      bottom: rem(-150px);
    }

    @include phones {
      display: none;
    }

  }*/
}