.feature {
  display: flex;
}

.feature__icon {
  margin-right: rem(6px);
}

.feature__icon-symbol {
  width: rem(44px);
  height: rem(44px);
  fill: #FFFFFF;
  margin-right: rem(6px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(80px);
  line-height: 1.45;
}