.footer-container {
  margin-top: auto;
  }

/*.footer-container__content {
  position: absolute;
  width: rem(1100px);
  height: rem(1px);
  left: rem(389px);
  top: rem(2780px);
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}*/

.footer {
  height: rem(93px);
  position: relative;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: rem(21px);
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

