.humburger {
  width: rem(26px);
  height: rem(24px);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 2.5%;
  right: 3%;

  @include tablets {
    display: inline-flex;
  }
}

.humburger__plank {
  display: block;
  background: #FFFFFF;
  height: 5px;
  border-radius: rem(11px);
}