.order-section {
  position: relative;
  background: url("../images/decor/order-bg.png") center no-repeat;

  &:before {
    content: url("../images/decor/blue-berry.png");
    position: absolute;
    bottom: rem(69px);
    left: 2%;

    @include tablets {
      display: none;
    }
  }

  &:after {
    content: url("../images/decor/leaf-3.png");
    position: absolute;
    bottom: rem(58px);
    right: 2%;

    @include tablets {
      display: none;
    }
  }
}