.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-symbol {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  fill: #fff;
}

.phone-number__icon-footer {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  fill: #497870;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number--theme--green {
  color: #497870;
  font-size: rem(21px);
}