.product-info {
  display: flex;
  margin-bottom: rem(14px);

  @include tablets {
    justify-content: center;
  }
}

.product-info__item {
  margin-right: rem(44px);

  &:last-child {
    margin-right: 0;
  }
}

.product-info__text-calorie,
.product-info__text-weight {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
}