.reviews-section {
  position: relative;
  
  &:before {
    position: absolute;
    bottom: rem(-174px);
    left: 0;
    content: url("../images/decor/reviews_group.png");   
}

 
  &:after {
    position: absolute;
    top: 5%;
    right: 5%;
    content: url("../images/decor/berries-2.png");
  }
}