.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon-symbol {
  width: rem(20px);
  height: rem(20px);
  display: flex;
  align-items: center;
  fill: #B3B3B3;

  &:hover {
    fill: #292929;
    transition: 0.3s;
  }
}

